.main-container{
    display: grid;
    grid-template-columns: 600px auto;
    

}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 600px; */

}

.flex-container .flex-items{
    width: 150px;
}

/* use repeat(no of columns or rows value, width/height value) 
This property is used only when we use grid-template-rows or grid-template-columns */
